* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;

}

.header {
    width: 100%;
    color: white;
    padding: 20px;
    background: #9d0000;

}

.menu-item {
    list-style: none;

}

.menu-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;

}

.banner-title,
.banner-description {
    text-align: center;
    color: white;

}

.banner-title {
    font-size: 48px;

}

.banner-section {
    padding: 100px 0;
    background: url(img/1014.jpg);
    background-size: cover;
    background-position: center;

}

.cards-section {
    padding: 50px 0;

}


.cards-description {
    color: #9d0000;
    text-align: center;

}

.card {
    width: 25%;
    padding: 25px;
    margin: 25px;
    background: white;
    box-shadow: 0px 2px 7px 0px   #9d0000;
}

.card-link {
    text-decoration: none;
    color: white;

}

.card-button {
    text-align: center;
    background: #9d0000;
    padding: 10px 70px;
    border-radius: 10px;
    border :1px solid #9d0000;
}

.card-title,
.card-text {
    margin-bottom: 10px;
}

.footer {
    background: url(img/1014.jpg);
    background-size: cover;
    padding: 100px 0;

}

.copyright {
    color: white;

}

.card-img {
    margin: 0 10%;

}

.card:hover {
    box-shadow: 0px 2px 20px 0px #9d0000;

}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}
.logo-img{
    margin-right: 40px;
}
.header-menu{
    flex-grow: 3;
}
.cards-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}
.social-networks{
display: flex;
justify-content: flex-end;
}
.footer-logo{
    width: 60px;
    height: 60px;
    margin: 10px;
}
.footer-search{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 30px;
}
.footer-search-input{
    height: 40px;
    flex-grow: 3;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
}

.footer-search-button{
height: 40px;
flex-grow: 2;
border-radius: 10px;
text-transform: uppercase;
font-weight: bold;
padding: 0 20px;
}
.footer-search-button:hover{
border: 1px solid #9d0000;    
}
.card-button:hover{
    border: 1px solid #9d0000;
   cursor: pointer;
    background: #fff;
}
.card-button:hover a {
    color: #9d0000;

}